{% extends "base_app.html" %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Influence</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <h3>GitHub</h3>
              <h2>133</h2>
              <p>+6 (+9%) in last week</p>
              <p>Top 0.09%</p>
            </div>
            {% for f in follower_counts %}
                <div>{{ f.count }}</div>
            {% endfor %}
            <div class="col-xs-6 col-sm-3 placeholder">
              <h3>Twitter</h3>
              <h2>953</h2>
              <p>+20 (+3%) in last week</p>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
